.cursor
venv/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.sqlite3
*.db
*.db3
*.db4
*.db5
*.db6
*.db7
.env
steps.md