{% extends 'base.html' %}

{% block title %}Password Reset Email Sent | Northeast India Wiki{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h3 class="card-title mb-0">Password Reset Email Sent</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    </div>
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'accounts:login' %}" class="btn btn-primary">Return to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 